#main{
    width: 70%;
    height: 80vh;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fof{

    vertical-align: middle;
    text-align: center;
    max-width: 80vw;
}

.fof h1{
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
    text-align: center;
}

@keyframes type{
    from{box-shadow: inset -3px 0px 0px #888;}
    to{box-shadow: inset -3px 0px 0px transparent;}
}


