.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input {
  border-radius: 2px !important;
}
button {
  border-radius: 2px !important;
}

form > * {
  margin: 10px 0;
}
